body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.loading-container {
    margin-bottom: 20px;
    position: relative;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

#filling-bar {
    width: 0;
    height: 100%;
    background-color: #00ffff;
    transition: width 1s;
}

#countdown {
    font-size: 1.2em;
    margin-top: 10px;
}

.countdown-percentage {
    font-size: 1.2em;
    margin-top: 10px;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.marquee-text {
    font-size: 1.2em;
    margin-top: 20px;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.construction-gif {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    animation: spin 2s linear infinite;
}

.banner-container {
    position: fixed;
    top: 45%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 9999;
}

.banner {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto;
    border: 2px solid #00ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    transition: transform 0.2s;
    position: relative;
    text-decoration: none;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    display: block;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #00ffff;
}

.banner:hover {
    transform: scale(1.05);
}

.pause-button {
    background-color: #00ffff;
    border: none;
    color: #111;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.pause-button:hover {
    background-color: #111;
    color: #00ffff;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Mobile Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    .marquee-text {
        font-size: 1em;
    }
    .construction-gif {
        max-width: 80%;
    }
    .banner {
        width: 200px;
    }
}
